.icon-brand {
    font-size: 15px;
    font-family: 'Press Start 2P', cursive; ;
}

.navbar {
@include stylenavbar;
position: sticky;
top: 0;
z-index: 10;
}

.nomemio {
    margin-top: 0;
    margin-bottom: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(60, 60, 60)
}

.spanC {
    @include spanColor;
}

#myVideo {
    width: 100%;

  .section-one {
    position: fixed;
    bottom: 0;
    color: #f1f1f1;
    width: 100%;
  }
}

.section-one {
    background-color: #e0e0e0;
    padding-bottom: 10px;

    p {
        padding: 15px;
    }

    h1{
        padding: 15px;
    }
 
    button {
        margin-left: 15px;
    }
}

#myBtn {
  border-radius: 10px;
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
    border: 1px solid black;
  background: #ddd;
  color: black;
}
  
.card {
    margin: 15px;
    width: 200px;
}

.card:hover {
    box-shadow: 1px 1px 4px 1px #e0e0e0;
    cursor: pointer;
}

.section-margin {
    margin-top: 100px;
}

.section-partnership {
    padding-bottom: 40px;
}

.carousel-item {
    height: 50vh;
}