.icon-brand {
    font-size: 15px;
    font-family: 'Press Start 2P', cursive; ;
}

.navbar {
@include stylenavbar;
position: sticky;
top: 0;
z-index: 10;
}

.nomemio {
    margin-top: 0;
    margin-bottom: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(60, 60, 60)
}

.spanC {
    @include spanColor;
}

#myVideo {
    width: 100%;

  .section-one {
    position: fixed;
    bottom: 0;
    color: #f1f1f1;
    width: 100%;
  }
}

.section-one {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(126,152,255,1) 100%);
    padding-bottom: 10px;

    p {
        padding: 20px;
    }

    h1{
        padding: 20px;
    }
 
    button {
        margin-left: 20px;
    }
}

#myBtn {
  border-radius: 10px;
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
    border: 1px solid black;
  background: #ddd;
  color: black;
}
  
.card {
    margin: 15px;
    width: 200px;
}

.card:hover {
    box-shadow: 1px 1px 4px 1px #e0e0e0;
    cursor: pointer;
}

.section-margin {
    margin-top: 100px;
}

.section-partnership {
    padding-bottom: 40px;
}



// CONTACTS

.content-header{
    font-family: 'Oleo Script', cursive;
    color:#fc0086;
    font-size: 45px;
  }
  
  .section-content{
    text-align: center; 
  
  }
  #contact{
      
      font-family: 'Teko', sans-serif;
    padding-top: 60px;
    width: 100%;
    width: 100vw;
    height: 550px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(126,152,255,1) 100%);
      color : rgb(53, 53, 53);    
  }
  .contact-section{
    padding-top: 40px;
  }
  .contact-section .col-md-6{
    width: 50%;
  }
  
  .form-line{
    border-right: 1px solid #B29999;
  }
  
  .form-group{
    margin-top: 10px;
  }
  label{
    font-size: 1.3em;
    line-height: 1em;
    font-weight: normal;
  }
  .form-control{
    font-size: 1.3em;
    color: #080808;
  }
  textarea.form-control {
      height: 135px;
     /* margin-top: px;*/
  }
  
  .submit{
    font-size: 1.1em;
    float: right;
    width: 150px;
    background-color: transparent;
    color: rgb(53, 53, 53);
  
  }


// FOOTER 
.footer {
    padding: 30px;
}

// DARK MODE 

.bi-toggle-off, .bi-toggle-on{
  font-size: 25px;
}

@media (prefers-color-scheme: dark){ 
  body{
    background: black!important;
    color: white!important;
  }
  section{
    background: black!important;
    color: white!important;
  }

  nav{
    background: black!important;
    color: white!important;
    a {
      color: white!important;
    }

    .navbar-toggler-icon{
      filter: drop-shadow(0px 0px 0px white)!important
    }
  }
}